# CHI-SQUARE TEST

In [14]:
from scipy.stats import chi2_contingency
from matplotlib import pyplot as plt
import pandas as pd
from scipy import stats

## Hypotheses for the Chi-Square Test for Independence

### Null Hypothesis (ùêª0 ):
There is no significant association between the type of smart home device (Smart Thermostat vs. Smart Light) and customer satisfaction level.
(Customer satisfaction level is independent of the type of smart home device purchased.)

### Alternative Hypothesis (ùêªùëé):
There is a significant association between the type of smart home device (Smart Thermostat vs. Smart Light) and customer satisfaction level.
(Customer satisfaction level depends on the type of smart home device purchased.)

In [4]:
data = [[50,70,120],
        [80,100,180],
        [60,90,150],
        [30,50,180],
        [20,50,70],
        [240,360,600]]

In [5]:
df = pd.DataFrame(data,
                 index=['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied','Total'],
                 columns=['SmartThermostat','SmartLight','Total'])

In [6]:
df

                  SmartThermostat  SmartLight  Total
Very Satisfied                 50          70    120
Satisfied                      80         100    180
Neutral                        60          90    150
Unsatisfied                    30          50    180
Very Unsatisfied               20          50     70
Total                         240         360    600

In [8]:
chi2,p,dof,exp=chi2_contingency(data)

In [9]:
chi2, df

(40.30645206526617,
                   SmartThermostat  SmartLight  Total
 Very Satisfied                 50          70    120
 Satisfied                      80         100    180
 Neutral                        60          90    150
 Unsatisfied                    30          50    180
 Very Unsatisfied               20          50     70
 Total                         240         360    600)

In [10]:
p

1.4963266954583255e-05

In [11]:
if p < 0.05:
    print('Reject Null Hypothesis.Columns are dependent on each other.')
else:
    print('Fail to reject null hypothesis.')

Reject Null Hypothesis.Columns are dependent on each other.

In [17]:
1 - stats.chi2.cdf(40.30645206526617, 1)

2.1709078978915386e-10